@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$color:#32CD32;
$poppins: 'Poppins', sans-serif;

div,span,body,p,header,nav{
    font-family: $poppins;
}
body{
    margin: 0;
    padding: 0;
    display: block;
}

.logo{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: $poppins;
    color: white;

}
.col-12{
    display: flex;
}

.button{
    margin-left: 60px;
    border-radius: 7px;
}

.leftpanel-main-container{
    background-color: $color;
    /* background: transparent url('img/Rectangle 1.png') 0% 0% no-repeat padding-box; */
    box-shadow: 2px 0px 6px #DFDFDF28;
    width: 310px;
    min-height: 130vh;
}

.leftside{
    i.fas{
        width: 20px;
        color: white;
        height: 15px;
    }
    h3{
        font-family: $poppins;
        font-size: 17px;
        padding-left: 23px;
        color: white;
        margin: auto;
    }
    .leftpanel-block-first{
        display: flex !important;
        justify-content: space-between !important;
        flex-direction: column;
        padding-bottom: 3rem;
    }
}

.leftpanel-bottom{
    margin-top: 3rem;
    button{
        border-radius: 4px;
        background-color: white; 
        padding: 20px 20px;
        width: 250px;
        height: 60px;
        border: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        font-family: $poppins;
        font-size: 22px;
        color: $color;
        i{
            color: $color !important;
            font-size: 22px !important;
        }   
    }
    h3{
        text-align: center;
        padding: 0;
    }

}

.main-body-container{
    // padding: 3rem;
    justify-content: space-between;
    button{
        padding: 10px;
        display: flex;
        background-color: $color;
        color: white;
        border-radius: 4px;
    }
    input{
        display: flex;
        // padding: 10px;
    }

}

    .deshboard,
    .tatics-vault,
    .team,
    .scehdule-generator,
    .Weekly-Tranning-Plan,
    .team-matrics,
    .customaization{
        display: flex;
    padding: 20px 0px 20px 60px;
    align-items: center;
    }

.main-body-navbar-container{
    .mainbody-navbar{
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        margin-left: 30px;
    padding: 5px;

    }
    .profile-block-with-image{
        display: flex;
        flex-wrap: wrap;
    }
    .nav-item{
        font-size: 24px;
        margin-top: 20px ;
        padding: 20px 20px;
        color: gray;    
    }
    .active{
        color: black;
        border-bottom: 3px solid $color;
        position: static;
        padding: 5px
    }
    .profile-block-with-image{
        hr{
            display: block;
            width: 20px;
            color: black;
            font-weight: bold;
            height: 0.7px;
            background: gray;
            transform: rotate(90deg);
            border-radius: 30px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        i.fas{
            color: gray;
            width: 22px;
            padding-right: 30px;
        }
        .profile-label-name{
            font-size: 20px;
            display: flex;
            align-items: center;
            i.fas{
                font-size: 16px;
                color: black;
                height: 15px;
                padding-left: 20px;
            }
        }
    }
}
.main-body-container{
    display: flex;
    background-color: #F4F6F4;
    height: 100%;
    .scehdule-add{
        background: $color;
        font-size: 20px;
        text-align: center;
        padding: 20px 25px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
    .scehdule-search{
        background: white;
        font-size: 20px;
        text-align: center;
        padding: 10px 25px;
        border-radius: 5px;
        &::placeholder{
            color: rgb(179, 179, 179);
        }
        border: none;
        background-image: url("search.png");
        background-position: 10px center;
        background-size: 10%;
        background-repeat: no-repeat;
    }
}

.scheduled-list{
    hr{
        display: block;
        width: 20px;
        color: gray;
        font-weight: bold;
        height: 0.7px;
        background: gray;
        transform: rotate(90deg);
        border-radius: 30px;
        margin: auto 0;
    }   
    .list-toolbox-icon{
        div i{
            font-size: 24px;
            padding: 20px 30px;
        }
        .edit{

            i{
                color: gray;
            }
        }
        .delete{
            i{
                color: red;
            }
        }
        .collapse-arrow{
         i{
            color: $color;
            *{
                height: auto;
            }
         }   
        }
    }
    .list-update-btn{
        background-color: $color;
        padding: 10px 20px;
        color: white;
        border-radius: 4px;
    }
}

.list-container{
    margin:15px 0;
    background-color: white;
    .col-12.m-0{
        border-bottom: 2px solid #f3f3f3;
    }
}

.text-muted{
    color: gray;
    font-size: 14px;
}

.radio-button{
    padding-bottom: 2rem;
    .session-day-selector{
        &.active{
            .week-day-block{
                border: 3px solid $color !important;
                color: $color !important;
            }    
            .radio{
                background-color: $color;
                border: 3px solid $color !important;
            }
        }
        .week-day-block{
            // padding: 10px 20px;
            border: 3px solid rgb(194, 194, 194);
            text-align: center;
            padding: 16px 3px;
            // width: 100px;
            border-radius: 5px;
            text-align: right;
            display: flex;
            color:  rgb(194, 194, 194);
            .radio{
                display: block;
                border-radius: 30px;
                border: 2px solid rgb(194, 194, 194);
                width: 20px;
                height: 20px;
                margin: 0 4px;
            }
        }
    }
}

.new-schedule-alert{
    padding: 20px;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.26);
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    .alert-dialog-overlay{
        position: fixed;
        background-color: white;
        border-radius: 10px;
    }
    .session-title{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 2px solid #cecece;    
    }
    .session-add-body {
        padding: 20px;
    }
    .session-add-body .session-title{
        border: 2px solid #cecece;    
        border-radius: 4px;
        text-align: left;
        padding: 10px;
        &::placeholder{
            font-size: 14px;
            font-weight: unset;
        }
        .start-date{

        }
    }
    .date-input{
        border: 2px solid #cecece;    
        border-radius: 4px;
        text-align: left;
        padding: 10px;
        width: 100%;
        font-size: 14px;
        color: #cecece;
    }
    
    .close-btn,.create-btn{
        padding: 10px 0;
        width: 95%;
        font-size: 14px;
        color: white;
        display: block;
        margin: 15px 0;
        text-align: center;
        border-radius: 5px;
    }
    .close-btn{
        background-color: #cecece;
        margin-right:auto ;
    }
    .create-btn{
        background-color: $color;
        margin-left: auto;
    }
}